<template>
<div>
<div  v-for="airline in airlines" :key="airline.id">
    <AirlineItem v-bind:airline_data="airline"/>
</div>
</div>
    
</template>
<script>
import AirlineItem from './AirlineItem.vue'
export default {
    name: "Airline",
    components: {
        AirlineItem
    },
    props:["airlines"]
    
}
</script>
<style scoped>

</style>