<template>
<div>
  <Card>
    <template #title>
        {{country_data.name}}
    </template>
    <template #content>
        <p>{{country_data.iso_code}}</p>
        <p>{{country_data.dafif_code}}</p>
       
    </template>
    
</Card>
  </div>

</template>
<script>
export default {
  name: "CountryItem",
  props: ["country_data"]
};
</script>
<style scoped>
  p {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  .is-complete {
    text-decoration: line-through;
  }
  .del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
</style>
