<template>
<div>
<div  v-for="country in countries" :key="country.name">
    <CountryItem v-bind:country_data="country"/>
</div>
</div>
    
</template>
<script>
import CountryItem from './CountryItem.vue'
export default {
    name: "Country",
    components: {
        CountryItem
    },
    props:["countries"]
    
}
</script>
<style scoped>

</style>