<template>
<div>
<div  v-for="plane in planes" :key="plane.name">
    <PlaneItem v-bind:plane_data="plane"/>
</div>
</div>
    
</template>
<script>
import PlaneItem from './PlaneItem.vue'
export default {
    name: "Planes",
    components: {
        PlaneItem
    },
    props:["planes"]
    
}
</script>
<style scoped>

</style>