<template>
<div>
  <Card>
    <!-- <template #title>
        <p>{{plane_data.name}}</p>
    </template> -->
    <template #content>
        
        <p>ICAO: {{plane_data}}</p>
        <!-- <p>IATA: {{plane_data.iata}}</p> -->
    </template>
    
</Card>
  </div>

</template>
<script>
export default {
  name: "PlaneItem",
  props: ["plane_data"]
};
</script>
<style scoped>
  p {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  .is-complete {
    text-decoration: line-through;
  }
  /* p {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  } */
</style>
