<template>
<div>
<div  v-for="rou in routes" :key="rou.id">
    <RouteItem v-bind:route="rou"/>
</div>
</div>
    
</template>
<script>
import RouteItem from './RouteItem.vue'
export default {
    name: "Routes1",
    components: {
        RouteItem
    },
    props:["routes"]
    
}
</script>
<style scoped>

</style>