<template>
  <div id="app">
    <Card>
      <template #title>
        Aviation-Data
      </template>
    <template #content>
        <p>PLANES:{{stats.airlines_count}}</p>
        <p>COUNTRIES:{{stats.countries_count}}</p>
        <p>ROUTES:{{stats.routes_count}}</p>
        <p>AIRLINES:{{stats.airlines_count}}</p>
    </template>
    </Card>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <Planes v-bind:planes="planes" /> -->
    <!-- <Routes v-bind:routes="routes_1"/> -->
    <!-- <Airlines v-bind:airlines="airlines"/> -->
    <!-- <Countries v-bind:countries="countries"/> -->
  </div>
</template>

<script>
// import Planes from "./components/Planes.vue";
// import Routes from "./components/Routes.vue";
// import Airlines from "./components/Airline.vue";
// import Countries from "./components/Country.vue";
// import Template from "./components/Template.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    // Planes,
    // Routes,
    // Airlines,
    // Countries
    // Template
  },

  data() {
    return {
      planes: [],
      routes_1:[],
      airlines:[],
      countries:[],
      stats:[]
    };
  },
  created() {
    axios
      .get("http://localhost:5000/planes")
      .then((res) => 
        this.planes = res.data
      )
      .catch((err) => console.log(err));
    axios
      .get("http://localhost:5000/routes")
      .then((res) => 
        this.routes_1 = res.data
      )
      .catch((err) => console.log(err));
    axios
      .get("http://localhost:5000/airlines")
      .then((res) => 
        this.airlines = res.data
      )
      .catch((err) => console.log(err));
    axios
      .get("http://localhost:5000/countries")
      .then((res) => 
        this.countries = res.data
      )
      .catch((err) => console.log(err));
    axios
      .get("http://localhost:5000/stats")
      .then((res) => 
        this.stats = res.data
      )
      .catch((err) => console.log(err));
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 50;
  padding: 50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
p{
  background: blue;
    color: #fff;
    border: none;
    padding: 5px 9px;
}
</style>
